@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:ital@1&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    /* height: 100vh; define o tamanho inteiro da viwport */
    box-sizing: border-box; /* No conteudo onde não quero pra ultrapassar a borda, colocar no filho da borda o seu pai é html, n ultrapassa  o html  */
    background-color:black;
    color: whitesmoke;
} 
/*
 box-sizing: border-box -> layouts responsivos
 pois temos a garantia que os elementos terão o exato tamanho que definimos,
*/
strong{
    color: bisque;
}  
.cabecalho__menu{
    display: flex;
    background-color:black;
    color: blue;
    padding: 5% 0% 2% 19%;
    gap: 80px;
    box-sizing: border-box;
    /* align-items: flex-start; */    
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    /* border-radius: 8px; */
    /* border : 1px solid white; */    
}

.cabecalho__menu__link__aqui{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* border-radius: 8px; */
    /* border : 1px solid white; */    
}
.container{
    /* margin: 10% 15% 0% 15%; */
    padding: 8% 15% 0% 15%;
    display: flex; /* Por padrao fica as div em coluna (row)*/
    justify-content: space-around;
    align-items: flex-start; /* alinhamento vertical */
    gap: 5px; /* ele coloca espaçamento entre os item alinhamento horizontal*/
}
.container__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container__conteudo__h1{
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
}
.container__conteudo__p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.container__links__subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px; 
    font-size: 20px;
    
}
.container__conteudo__links{
    margin: 0% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}
.container__link__ancora{
   /* background-color: whitesmoke ; */
    width: 300px;
    text-align: center; 
    border-radius: 9px; 
    border: 1px solid blueviolet; /* tamanho , tipo , cor*/
    font-size: 20px;
    padding: 21.5px 0px 21.5px 0px; 
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    display: flex;
    justify-content: center;
    /* padding-left: 93px; */
    align-items: center;
    column-gap: 10px;
}
/* hover -> pseudo class onde modifica o estilo da tag ao passar com o cursor por ela */
.container__link__ancora:hover{
     background-color: blanchedalmond;
     color: black;
     padding-left: 22px;
     padding-right: 22px;
}
.rodape{
    background-color: blanchedalmond;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px; 
    font-size: 15px;
    margin-top: 10%;
    box-sizing: border-box;
}
/*
saber posicionamento de acordo com as modificação que é realizada 
===============================================================
sempre deixar a ordem de css de acordo com Html
===============================================================

width: 280px  tamanho da tag:
text-align: center-> alinha o texto na teg

===============================================================
config do botao :
    background-color: whitesmoke ;
    width: 260px;
    text-align: center; 
    border-radius: 16px;
    font-size: 20px;
    padding: 21.5px 0px 21.5px 0px; 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

===============================================================
--------------------------------
Extra :

border: 30px solid transparent;
font-size: 40px;
background-color: rgb(150, 215, 255);
border-image: url("./132d0b11f96dcffaa700966900312a52.jpg") 150 round;
box-shadow: 10px 20px grey;
--------------------------------

https://www.alura.com.br/artigos/css-guia-do-flexbox
===============================================================
conf de espaçamento:
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; 
===============================================================

gap : o tamanho dos espaços entre linhas e colunas em layouts de 
        grid, 
        flex 
        multi-column
elemento-referenciado:hover
transition: 1s;  //determina o tempo de transição para aplicação dos estilos

cascata porque ele vai fechado o estilo
precisa de link entre o css e o html

select de atributo 
a[title]
a[href="exempo"]

Padrao ---- todo projeto
* : Representa todo as tag da pagina essa configuração representa.

Quando o body tem o height com  100vh quer dizer que ele vai ocupar 100% da -tela- 
de todo o dispositivo ele vai ocupar toda a tela. 

Padrao ---- todo projeto
box-sizing : border-box
box-sizing : content-box
     Colocar sempre na caixa pai pra não deixar a caixa filho sair.

viewport : usar por questao de resposividade

===========================================
alinhamento de caixa e item
-------------------------------------------
flex-box: display: flex;
        align-items: center; 
        justify-content: space-between;
--------------------------------------------

===========================================
Import fontes do google fonts
É a ultilização  é usada 
    com essas caracteristicas -> font-family: 'Montserrat', sans-serif;
    LINK DE FONTES ->https://fonts.google.com/
-------------------------------------------
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital@1&display=swap');
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
--------------------------------------------
*/